root = true

[*]
indent_size = 4
end_of_line = LF
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,css,less,json,jade,scala,sbt,coffee}]
indent_size = 2

[*.gyp]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{package.json}]
indent_size = 2
